<div class="navbar">
  <%= link_to "Home", "/users/#{current_user.id}" %> |
  <%= link_to "Sign Out", "/signout" %>
</div>

<div class="scroll">
  <div ="errors">
    <% @mood.errors.full_messages.each do |msg| %>
      <%= msg %>
    <% end %>
  </div>

  <h2>How Do You Feel Today?</h2>

  <!-- form -->
  <%= form_for(@mood, url: user_moods_path) do |f| %>
  <table>
    <tr>
      <th>
        <%= f.label(:hot, "Hot?") %><br>
        <%= f.check_box(:hot) %>
      </th>
      <th>
        <%= f.label(:warm, "Warm?") %><br>
        <%= f.check_box(:warm) %>
      </th>
      <th>
        <%= f.label(:cold, "Cold?") %><br>
        <%= f.check_box(:cold) %>
      </th>
    </tr>
  </table><br>
  <%= f.button "SUBMIT" %>
  <% end %>
</div>
